.DS_Store
.idea
*.iml
*.test
*.tfstate
*.tfstate.backup
*.tfplan
.vscode/
dist/
bin/
vendor/
terraform.tfstate*
.terraform/
.terraform.lock.hcl
tmp/
test-apk-repo/
test-deploy/
terraform-provider-ocihelm
temp-extract/
dev.tfrc
examples/dev.tfrc
terraform-provider-helm

# Ignore federated GCP credentials.
gha-creds-*.json
